<div class="pinned-section">
{{#get "pages" limit="4" filter="featured:true" order="published_at desc" as |pinned_pages|}}
{{#if pinned_pages}}
	<div class="pinned-pages global-special{{#foreach pinned_pages}}{{#if @last}} items-{{@number}}{{/if}}{{/foreach}}">
		<h2><span>{{t "Announcements"}}</span></h2>
		{{#foreach pinned_pages}}
		{{>special_section hide_meta=true}}
		{{/foreach}}
	</div>
{{/if}}
{{/get}}
{{#get "posts" limit="4" filter="featured:true" include="authors" as |pinned_posts|}}
{{#if pinned_posts}}
	<div class="pinned-posts global-special">
		<h2><span>{{t "Don’t miss it"}}</span></h2>
		{{#foreach pinned_posts}}
		{{>special_section}}
		{{/foreach}}
	</div>
{{/if}}
{{/get}}
</div>