{{!< default}}
{{#tag}}
<div class="archive-section">
	{{#if feature_image}}
	<div class="archive-image global-image">
		{{>images/tag_author_img tag_author_image=feature_image}}
	</div>
	{{/if}}
	<h1 class="archive-title is-tag global-tags-hash-sign">{{name}}</h1>
	<span class="archive-details">{{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</span>
	{{#if description}}
	<p class="archive-description">{{description}}</p>
	{{/if}}
</div>
{{/tag}}
{{>loop}}
{{pagination}}