{{#get "posts" limit="4" filter="visibility:public" include="authors" as |public_posts|}}
{{#if public_posts}}
<div class="post-related global-special">
	<h2><span>{{t "See our public posts"}}</span></h2>
	{{#foreach public_posts}}
	{{>special_section}}
	{{/foreach}}
</div>
{{/if}}
{{/get}}